body {
  background-color:#FAFAFA;
  Margin-top:130px;
}
h1 {
  color:#32847d;
  text-align: center;
  font-family:Corbel;
  
}
h4 {
  font-family:Corbel;
  text-align:center;
  width:50%;
  margin:auto;
}
.im {
  width:40%;
  display: block;
  Margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
p {
  width:50%;
  margin:auto;
  font-family:Baskerville;
  text-align: justify;
  Padding:10px;
  line-height:1.5;
}

p.index {
    text-align: center;
}