body {
  background-color:#FAFAFA;
  Margin-top:100px;
}
h1 {
  color:#32847d;
  text-align: center;
  font-family:Corbel;
  
}
h2, h3, h4, h5, h6 {
  font-family:Corbel;
  text-align:center;
  width:50%;
  margin:auto;
  margin-top:10px;
}
h2 {
    text-align: justify;
}
.im {
  width:40%;
  display: block;
  Margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.inlineImg{
    width:28%;
  display: inline;
    Margin-top:30px;
  margin-left: 220px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#secondimg{
    margin-left: 60px;
}

a:link {
    color:#23e232;
}


p,ol,ul {
  width:50%;
  margin:auto;
  font-family:Baskerville;
  text-align: justify;
  Padding:10px;
  line-height:1.5;
}

ol, ul {
    color:#32847d;
    margin-left:310px;
}

p.footnote{
    color: dimgrey;
    margin-top: -30px;
    text-align: center;
    font-size: 14px;
}
p.index {
    text-align: center;
}